@import 'variable';
@import 'mixin';

main.main{
    width: $size;
    .main__item{
        width: $size;
        &:first-of-type{
            margin-top: $size / 10;
        }
    }
    .main__item--text{
        @include df(column);
        @include cnt(center , center);
        .item__heading{
            font-size: 1.2rem;
            margin: $size / 50;
        }
        .item__paragraf{
            display: block;
            text-align: center;
            color: $main-text-color;
            font-size: .9rem;
            margin: $size / 58;
            line-height: 25px;
        }
    }
    .main__line{
        margin-top: $size / 15;
    }
    .main__item--photo{
        .heading__wrap{
            @include df(row);
            @include cnt(space-between , flex-start);
            margin: $size / 50 $size / 33;
            .heading{
               font-size: 1.2rem;
               text-transform: capitalize;
            }
        }
        .item__wrap{
            margin-top: $size / 25;
            @include df(row);
            flex-wrap: wrap;
            .img__wrap{
                width: $size / 3.3;
                margin: $size / 40 $size / 80;
                .main__img{
                    @include img;
                }
            }
        }
    }
}