@import 'variable';

@mixin df($fd) {
    display: flex;
    flex-direction: $fd;
}

@mixin cnt($jc , $ai) {
    justify-content: $jc;
    align-items: $ai;
}

@mixin img {
    width: $size;
    height: $size;
}

@mixin btn {
    border: none;
    outline: none;
}