$heading-text-color: #3f3f3f;
$main-text-color: #8b8989;
$link-hover-bg-color: #3f3f3f;
$button-text-color: #fff;
$button-color: #df6267;
$line-color: #d2d2d2;
$footer-link-color: #84c7ff;

$size: 100%;