@import 'variable';
@import 'mixin';

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-size: 1rem;
    .wrapper{
        @include df(column);
        width: $size / 1.25;
        min-height: $size;
        margin: 0 auto;
        outline: 2px red solid;
    }
}

.line{
    margin-top: $size / 17;
    height: $size / 100;
    background-color: $line-color;
}

@import 'header';
@import 'banner';
@import 'main';
@import 'footer';