@import 'variable';
@import 'mixin';

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-size: 1rem;
    .wrapper{
        width: $size / 1.269;
        min-height: $size;
        margin: 0 auto;
    }
}

@import 'header';